/* rem and em don not depend on html font size in media queries, Instead 1rem = 1em = 16px
rem: root font size
em:current font size
*/

/* *************only screen******* */

/* **************************** */
/* Below 1344px (Smaller Desktops) */
/* **************************** */
@media (max-width: 1200em) {
  #simscreen{
    width: 709px;
    margin-left: -102px;
  }
  #speedText{
    position: absolute;
    left: 117px;
    top: 139px;
    font-size: 16px ;
    font-family: "Nunito", sans-serif;
    color: goldenrod;
  }
  #commentboxleft {
    position: relative;
    left: -555px;
    top: 275px;
    margin-bottom: -40px;
    width: 183px;
    margin-top: 12px;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 15px;
  }
  #canvas-container{
    position: relative;
    left: 100px;
    height:450px;
  }
  #textarea0 {
    position: relative;
    width: 177px;
    margin-left: -592px;
    margin-top: 5px;
  }
  #calculation{
    position: relative;
    display: block;
    left: 12px;
    font-weight: bold;
    margin-top: -25px;
    color: green;
  }
  #result{
    position: relative;
    display: block;
    left: 367px;
    font-weight: bold;
    top: -109px;
    color: green;
  }
  #textarea1 {
    position: relative;
    width: 324px;
    margin-left: -240px;
    margin-top: -84px;
  }
  
  .tool-list span {
    display: inline-block;
    font-size: 1.6rem;
  }
  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }
}

@media (max-width: 90em) {
  #canvas-container{
    position: relative;
    height:440px;
  }
  #simscreen{
    height: 479px;
    width: 606px;
    position: relative;
    margin-left: -112px;
  }
  #speedText{
    position: absolute;
    left: 71px;
    top: 130px;
    font-size: 14px;
    color: goldenrod;
  }
  #commentboxleft {
    position: relative;
    left: -466px;
    top: 250px;
    margin-bottom: -40px;
    width: 183px;
    margin-top: 12px;
  }
  #textarea0 {
    width: 170px;
    margin-left: -480px;
    margin-top: -19px;
  }
  #calculation{
    position: relative;
    display: block;
    left: 12px;
    font-weight: bold;
    margin-top: -46px;
    color: green;
  }
  #result{
    position: relative;
    display: block;
    left: 300px;
    font-weight: bold;
    top: -104px;
    color: green;
  }
  #textarea1 {
    position: relative;
    width: 324px;
    margin-left: -194px;
    margin-top: -77px;
  }
  
  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }
  .tool-list span {
    display: inline-block;
    font-size: 1.6rem;
  }
}

/* **************************** */
/* Below 1200px (Lanscape Tablets) */
/* **************************** */

@media (max-width: 75em) {
  body {
    width: 100%;
    margin: unset;
  }
  .title-div h1 {
    font-size: 2.5rem;
  }
  .task-title {
    font-size: 2rem;
  }
  .tool-menu {
    font-size: 2rem;
    gap: 2rem;
  }
  .icons {
    width: 3rem;
    height: 3rem;
  }
  .ctrl-icons {
    width: 3rem;
    height: 3rem;
  }

  .tool-list span {
    font-size: 1.2rem;
  }
  
  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 130px;
  }
  #canvas-container{
    position: relative;
    height:440px;
  }
  .div__control img {
    width: 3rem;
    height: 2.8rem;
  }
  #simscreen{
    margin-left: 50px;
    width: 611px;
    height: 461px;
  }
  #speedText{
    position: absolute;
    left: 186px;
    top: 133px;
    font-size: 14px;
    color: goldenrod;
  }
  #commentboxleft {
    position: relative;
    left: -472px;
    top: 235PX;
    margin-bottom: -40px;
    width: 183px;
    margin-top: 12px;
  }
  #textarea0 {
    position: relative;
    width: 180px;
    margin-left: -591px;
    margin-top: 10px;
  }
  #calculation{
    position: relative;
    display: block;
    left: 10px;
    font-weight: bold;
    margin-top: -23px;
    color: green;
  }
  #result{
    position: relative;
    display: block;
    left: 440px;
    font-weight: bold;
    top: -116px;
    color: green;
  }
  #textarea1 {
    position: relative;
    width: 324px;
    margin-left: -163px;
    margin-top: -91px;
  }
  .tool-list span {
    display: inline-block;
    font-size: 1.6rem;
  }
}

/* **************************** */
/* Below 944px ( Tablets) */
/* **************************** */

@media (max-width: 59em) {
  .tool-link:link,
  .tool-link:visited {
    gap: 0.5rem;
    font-size: 1.4rem;
    flex-direction: column;
  }

  .title-div h1 {
    font-size: 2rem;
  }

  .main__task-div {
    height: auto;
  }

  .sidebar {
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    backdrop-filter: blur(10rem);
    z-index: 101;
    justify-content: space-evenly;
    border-radius: 0;
    scroll-behavior: auto;
  }
  .tool-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    font-size: 2.4rem;
    justify-content: space-evenly;
    padding: 1rem;
  }
  .main-section {
    grid-template-columns: 1fr;
  }
  .logo-div {
    width: 6.5rem;
  }
  .icons {
    width: 3rem;
    height: 3rem;
  }
  .tool-list span {
    font-size: 1rem;
  }
  .main__task-div:nth-child(3) {
    margin-bottom: 6rem;
  }
  
  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 120px;
  }
  .main-section {
    grid-template-columns: 1fr;
  }
  .canvas__div {
    grid-template-columns: 1fr;
  }
  #canvas-container{
    position: relative;
    height: 304px;
  }
  #variables{
    width: 100%;
  }
  #simscreen {
    margin-left: -9px;
    width: 567px;
    height: 420px;
}
#speedText{
  position: absolute;
  left: 167px;
  top: 123px;
  font-size: 15px;
  color: goldenrod;
}
#commentboxleft {
  position: relative;
  left: 131px;
  top: -100px;
  margin-bottom: -40px;
  width: 183px;
  margin-top: 12px;
}
#textarea0 {
  position: relative;
  width: 180px;
  margin-left: 8px;
  margin-top: -10px;
}
#calculation{
  position: relative;
  display: block;
  left: 5px;
  font-weight: bold;
  top: -13px;
  color: green;
}
#result{
  position: relative;
  display: block;
  left: 5px;
  font-weight: bold;
  top: 13px;
  color: green;
}
#textarea1 {
  position: relative;
  width: 338px;
  margin-left: 8px;
  margin-top: 19px;
}
.tool-list span {
  display: inline-block;
  font-size: 1.6rem;
}
}

/* **************************** */
/* Below 820px (Smaller Tablets) */
/* **************************** */
@media (max-width: 48em) {
  .container {
    /* padding: 0.5rem; */
    padding: 0rem 0rem 0.5rem 0.5rem;
    gap: 1rem;
  }
  .title-div h1 {
    font-size: 1.6rem;
  }
  .div__control {
    gap: 2rem;
  }
  .ctrl-icons {
    width: 2.5rem;
    height: 2.5rem;
  }

  .task-title {
    font-size: 1.7rem;
  }
  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }
  .logo-div {
    width: 4.5rem;
  }
  .main {
    gap: 0.5rem;
  }
  .main-section {
    gap: 0.5rem;
  }
  .sidebar {
    border-radius: 0;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    border: none;
  }
  .div__control img {
    width: 2.7rem;
    height: 2.5rem;
  }
  .tooltip {
    font-size: 1rem;
  }
  #variables{
    width: 100%;
  }
  .tool-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    font-size: 2.4rem;
    justify-content: space-evenly;
    padding: 1rem;
  }
  #simscreen {
    margin-left: -19px;
    width: 561px;
    height: 417px;
  }
  #canvas-container{
    position: relative;
    height:300px;
  }
#speedText{
  position: absolute;
  left: 118px;
  top: 120px;
  font-size: 14px;
  color: goldenrod;
}
#commentboxleft {
  position: relative;
    left: 116px;
    top: -92px;
    margin-bottom: -40px;
    width: 183px;
    margin-top: 12px;
}
#textarea0 {
  position: relative;
  width: 180px;
  margin-left: 8px;
  margin-top: 29px;
}
#calculation{
  position: relative;
  display: block;
  left: 5px;
  font-weight: bold;
  top: 25px;
  color: green;
}
#result{
  position: relative;
  display: block;
  left: 5px;
  font-weight: bold;
  top: 13px;
  color: green;
}
#textarea1 {
  position: relative;
  width: 338px;
  margin-left: 8px;
  margin-top: 19px;
}
.tool-list span {
  display: inline-block;
  font-size: 1.6rem;
}
}

/* **************************** */
/* Below 704px (Smaller Tablets) */
/* **************************** */
@media (max-width: 44em) {
  .container {
    /* padding: 0.5rem; */
    padding: 0rem 0rem 0.5rem 0.5rem;
    gap: 1rem;
  }
  .title-div h1 {
    font-size: 1.6rem;
  }
  .div__control {
    gap: 2rem;
  }
  .ctrl-icons {
    width: 2.5rem;
    height: 2.5rem;
  }

  .main__task-div:nth-child(3) {
    margin-bottom: 6rem;
  }
  .task-title {
    font-size: 1.7rem;
  }
  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }
  .logo-div {
    width: 4.5rem;
  }
  .main {
    gap: 0.5rem;
  }
  .main-section {
    gap: 0.5rem;
  }
  .sidebar {
    border-radius: 0;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    border: none;
  }
  .div__control img {
    width: 2.7rem;
    height: 2.5rem;
  }
  .tooltip {
    font-size: 1rem;
  }
  #variables{
    width: 100%;
  }
  .tool-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    font-size: 2.4rem;
    justify-content: space-evenly;
    padding: 1rem;
  }
  #simscreen {
    margin-left: -90px;
    width: 512px;
    height: 417px;
  }
  #canvas-container{
    position: relative;
    height:300px;
  }
#speedText{
  position: absolute;
  left: 83px;
  top: 119px;
  font-size: 14px;
  color: goldenrod;
}
#commentboxleft {
  position: relative;
  left: 49px;
  top: -92px;
  margin-bottom: -40px;
  width: 183px;
  margin-top: 12px;
}
#textarea0 {
  position: relative;
  width: 180px;
  margin-left: 8px;
  margin-top: 29px;
}
#calculation{
  position: relative;
  display: block;
  left: 5px;
  font-weight: bold;
  top: 25px;
  color: green;
}
#result{
  position: relative;
  display: block;
  left: 5px;
  font-weight: bold;
  top: 13px;
  color: green;
}
#textarea1 {
  position: relative;
  width: 338px;
  margin-left: 8px;
  margin-top: 19px;
}
.tool-list span {
  display: inline-block;
  font-size: 1.6rem;
}
}

/* **************************** */
/* Below 540px (Smaller Tablets) */
/* **************************** */
@media (max-width: 34em) {
  .container {
    /* padding: 0.5rem; */
    padding: 0rem 0rem 0.5rem 0.5rem;
    gap: 1rem;
  }
  .title-div h1 {
    font-size: 1.6rem;
  }
  .div__control {
    gap: 2rem;
  }
  .ctrl-icons {
    width: 2.5rem;
    height: 2.5rem;
  }

  .task-title {
    font-size: 1.7rem;
  }
  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }
  .logo-div {
    width: 4.5rem;
  }
  .main {
    gap: 0.5rem;
  }
  .main-section {
    gap: 0.5rem;
  }
  .sidebar {
    border-radius: 0;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    border: none;
  }
  .div__control img {
    width: 2.7rem;
    height: 2.5rem;
  }
  .tooltip {
    font-size: 1rem;
  }
  #variables{
    width: 100%;
  }
  .tool-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    font-size: 2.4rem;
    justify-content: space-evenly;
    padding: 1rem;
  }
  #simscreen {
    margin-left: -105px;
    width: 435px;
    height: 381px;
  }
  #canvas-container{
    position: relative;
    height:254px;
  }
#speedText{
  position: absolute;
  left: 1px;
  top: 127px;
  font-size: 14px;
  color: goldenrod;
}
#commentboxleft {
  position: relative;
    left: 16px;
    top: -77px;
    margin-bottom: -40px;
    width: 183px;
    margin-top: 12px;
}
#speedText{
  position: absolute;
  left: 50px;
  top: 114px;
  font-size: 13px;
  color: goldenrod;
}

#textarea0 {
  position: relative;
  width: 180px;
  margin-left: 8px;
  margin-top: 29px;
}
#calculation{
  position: relative;
  display: block;
  left: 5px;
  font-weight: bold;
  top: 25px;
  color: green;
}
#result{
  position: relative;
  display: block;
  left: 5px;
  font-weight: bold;
  top: 13px;
  color: green;
}
.tool-list span {
  display: inline-block;
  font-size: 1.6rem;
}
#textarea1 {
  position: relative;
  width: 336px;
  margin-left: 8px;
  margin-top: 19px;
}
}


@media (max-width: 28em) {
  .container {
    /* padding: 0.5rem; */
    padding: 0rem 0rem 0.5rem 0.5rem;
    gap: 1rem;
  }
  .title-div h1 {
    font-size: 1.6rem;
    margin-left: 20px;
  }
  .div__control {
    gap: 2rem;
  }
  .ctrl-icons {
    width: 2.5rem;
    height: 2.5rem;
  }

  .task-title {
    font-size: 1.7rem;
  }
  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }
  .logo-div {
    width: 4.5rem;
  }
  .main {
    gap: 0.5rem;
  }
  .main-section {
    gap: 0.5rem;
  }
  .sidebar {
    border-radius: 0;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    border: none;
  }
  .div__control img {
    width: 2.7rem;
    height: 2.5rem;
  }
  .tooltip {
    font-size: 1rem;
  }
  #variables{
    width: 100%;
  }
  .tool-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    font-size: 2.4rem;
    justify-content: space-evenly;
    padding: 1rem;
  }
  #simscreen {
    margin-left: -113px;
    width: 376px;
    height: 375px;
  }
  #canvas-container{
    position: relative;
    height:248px;
  }
#speedText{
  position: absolute;
    left: 26px;
    top: 105px;
    font-size: 14px;
    color: goldenrod;
}
#commentboxleft {
  position: relative;
    left: 19px;
    top: -73px;
    margin-bottom: -40px;
    width: 183px;
    margin-top: 12px;
}
#textarea0 {
  position: relative;
  width: 180px;
  margin-left: 8px;
  margin-top: 29px;
}
#calculation{
  position: relative;
  display: block;
  left: 5px;
  font-weight: bold;
  top: 25px;
  color: green;
}
#result{
  position: relative;
  display: block;
  left: 5px;
  font-weight: bold;
  top: 13px;
  color: green;
}
.tool-list span {
  display: inline-block;
  font-size: 1.6rem;
}
#textarea1 {
  position: relative;
  width: 330px;
  margin-left: 8px;
  margin-top: 19px;
}
}

@media (max-width: 24em) {
  .container {
    /* padding: 0.5rem; */
    padding: 0rem 0rem 0.5rem 0.5rem;
    gap: 1rem;
  }
  .title-div h1 {
    font-size: 1.6rem;
    margin-left: 1px;

    text-align: center;
  }
  .div__control {
    gap: 2rem;
  }
  .ctrl-icons {
    width: 2.5rem;
    height: 2.5rem;
  }

  .task-title {
    font-size: 1.7rem;
  }
  .tool-list span {
    display: inline-block;
    font-size: 1.6rem;
  }
  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }
  .logo-div {
    width: 4.5rem;
  }
  .main {
    gap: 0.5rem;
  }
  .main-section {
    gap: 0.5rem;
  }
  .sidebar {
    border-radius: 0;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    border: none;
  }
  .div__control img {
    width: 2.7rem;
    height: 2.5rem;
  }
  .tooltip {
    font-size: 1rem;
  }
  #variables{
    width: 100%;
  }
  .tool-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    font-size: 2.4rem;
    justify-content: space-evenly;
    padding: 1rem;
  }
  #simscreen {
    margin-left: -116px;
    width: 344px;
    height: 344px;
  }
  #canvas-container{
    position: relative;
    height:228px;
  }
#speedText{
  position: absolute;
  left: 12px;
  top: 104px;
  font-size: 12px;
  color: goldenrod;
}
#commentboxleft {
  position: relative;
    left: 16px;
    top: -80px;
    margin-bottom: -40px;
    width: 183px;
    margin-top: 12px;
}
#textarea0 {
  position: relative;
  width: 177px;
  margin-left: 8px;
  margin-top: 29px;
}
#calculation{
  position: relative;
  display: block;
  left: 5px;
  font-weight: bold;
  top: 25px;
  color: green;
}
#result{
  position: relative;
  display: block;
  left: 5px;
  font-weight: bold;
  top: 13px;
  color: green;
}
#textarea1 {
  position: relative;
  width: 320px;
  margin-left: 8px;
  margin-top: 19px;
}

}
  
@media (max-width: 20em) {
  .container {
    /* padding: 0.5rem; */
    padding: 0rem 0rem 0.5rem 0.5rem;
    gap: 1rem;
  }
  .title-div h1 {
    font-size: 1.6rem;
    margin-left: 1px;

    text-align: center;
  }
  .div__control {
    gap: 2rem;
  }
  .ctrl-icons {
    width: 2.5rem;
    height: 2.5rem;
  }

  .task-title {
    font-size: 1.7rem;
  }
  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }
  .logo-div {
    width: 4.5rem;
  }
  .main {
    gap: 0.5rem;
  }
  .main-section {
    gap: 0.5rem;
  }
  .sidebar {
    border-radius: 0;
  }
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    border: none;
  }
  .div__control img {
    width: 2.7rem;
    height: 2.5rem;
  }
  .tooltip {
    font-size: 1rem;
  }
  #variables{
    width: 100%;
  }
  .tool-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    font-size: 2.4rem;
    justify-content: space-evenly;
    padding: 1rem;
  }
  #simscreen {
    margin-left: -116px;
    width: 289px;
    height: 344px;
  }
  #canvas-container{
    position: relative;
    height:228px;
  }
#speedText{
  position: absolute;
  left: 12px;
  top: 104px;
  font-size: 13px;
  color: goldenrod;
}
#commentboxleft {
  position: relative;
    left: 16px;
    top: -80px;
    margin-bottom: -40px;
    width: 183px;
    margin-top: 12px;
}
#textarea0 {
  position: relative;
  width: 177px;
  margin-left: 8px;
  margin-top: 29px;
}
#calculation{
  position: relative;
  display: block;
  left: 5px;
  font-weight: bold;
  top: 25px;
  color: green;
}
#result{
  position: relative;
  display: block;
  left: 5px;
  font-weight: bold;
  top: 13px;
  color: green;
}
#textarea1 {
  position: relative;
  width: 320px;
  margin-left: 8px;
  margin-top: 19px;
}
}